/* ============================================= */
/*              Variables                        */
/* ============================================= */

$color-text: #777;
$color-background: #fff;
$color-links: #51ddfc;
$color-text-2: #58e1c1;
$col-1: #927bc1;


/* ============================================= */
/*              Breakpoints                      */
/* ============================================= */

$main-break: 768px;